  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
     background: #000000;
  }

    #root {
      width: 80%;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
      background: rgb(162, 0, 255);
      border-radius: 20px;
    }

        ol {
          word-break: break-all;
          text-align: start;
          list-style-type: none;
        }

        form {
          text-align: left;
        }

